In [13]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [15]:
df = pd.read_csv("diabetic_data.csv")

df["readmitted"] = LabelEncoder().fit_transform(df["readmitted"])
df["age"] = df["age"].apply(lambda x : int(x.split("-")[0][1:]))
df["weight"] = df["weight"].apply(lambda x : "[250-" if x == "?" else x)
df["weight"] = df["weight"].apply(lambda x : "[200-" if x == ">200" else x)
df["weight"] = df["weight"].apply(lambda x : int(x.split("-")[0][1:]))

df = df.drop(['citoglipton', 'examide',
              'payer_code', 'medical_specialty',
              'encounter_id', 'patient_nbr'], axis = 1)

four_status_cols = ['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'glipizide', 'glyburide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'insulin', 'glyburide-metformin', 'tolazamide', 'metformin-pioglitazone','metformin-rosiglitazone', 'glimepiride-pioglitazone', 'glipizide-metformin', 'troglitazone', 'tolbutamide', 'acetohexamide']
four_maps = {"Down":0, "No":-1, "Steady":1, "Up":2}
for c in four_status_cols:
    df[c] = df[c].apply(lambda x : four_maps[x])
    
df['change'] = df['change'].replace('Ch', 1)
df['change'] = df['change'].replace('No', 0)
df['gender'] = df['gender'].replace('Male', 1)
df['gender'] = df['gender'].replace('Female', 0)
df['gender'] = df['gender'].replace('Unknown/Invalid', -1)
df['diabetesMed'] = df['diabetesMed'].replace('Yes', 1)
df['diabetesMed'] = df['diabetesMed'].replace('No', 0)

df['A1Cresult'] = df['A1Cresult'].replace('>7', 1)
df['A1Cresult'] = df['A1Cresult'].replace('>8', 2)
df['A1Cresult'] = df['A1Cresult'].replace('Norm', 0)
df['A1Cresult'] = df['A1Cresult'].replace('None', -1)
df['max_glu_serum'] = df['max_glu_serum'].replace('>200', 1)
df['max_glu_serum'] = df['max_glu_serum'].replace('>300', 2)
df['max_glu_serum'] = df['max_glu_serum'].replace('Norm', 0)
df['max_glu_serum'] = df['max_glu_serum'].replace('None', -1)

df["diag_1"] = df["diag_1"].apply(lambda x : "-1" if "?" == x else x)
df["diag_2"] = df["diag_2"].apply(lambda x : "-1" if "?" == x else x)
df["diag_3"] = df["diag_3"].apply(lambda x : "-1" if "?" == x else x)
df["diag_1"] = df["diag_1"].apply(lambda x : 0 if ("V" in x) or ("E" in x) else x)
df["diag_2"] = df["diag_2"].apply(lambda x : 0 if ("V" in x) or ("E" in x) else x)
df["diag_3"] = df["diag_3"].apply(lambda x : 0 if ("V" in x) or ("E" in x) else x)
df["diag_1"] = df["diag_1"].replace('?', -1).astype(float)
df["diag_2"] = df["diag_2"].replace('?', -1).astype(float)
df["diag_3"] = df["diag_3"].replace('?', -1).astype(float)

In [18]:
df

,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,tolazamide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,Caucasian,0,0,250,6,25,1,1,41,0,...,-1,-1,-1,-1,-1,-1,-1,0,0,2
1,Caucasian,0,10,250,1,1,7,3,59,0,...,-1,2,-1,-1,-1,-1,-1,1,1,1
2,AfricanAmerican,0,20,250,1,1,7,2,11,5,...,-1,-1,-1,-1,-1,-1,-1,0,1,2
3,Caucasian,1,30,250,1,1,7,2,44,1,...,-1,2,-1,-1,-1,-1,-1,1,1,2
4,Caucasian,1,40,250,1,1,7,1,51,0,...,-1,1,-1,-1,-1,-1,-1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,AfricanAmerican,1,70,250,1,3,7,3,51,0,...,-1,0,-1,-1,-1,-1,-1,1,1,1
101762,AfricanAmerican,0,80,250,1,4,5,5,33,3,...,-1,1,-1,-1,-1,-1,-1,0,1,2
101763,Caucasian,1,70,250,1,1,7,1,53,0,...,-1,0,-1,-1,-1,-1,-1,1,1,2
101764,Caucasian,0,80,250,2,3,7,10,45,2,...,-1,2,-1,-1,-1,-1,-1,1,1,2
101765,Caucasian,1,70,250,1,1,7,6,13,3,...,-1,-1,-1,-1,-1,-1,-1,0,0,2

In [17]:
df.describe()

,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,tolazamide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
count,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,...,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,0.462355,60.967022,244.464015,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,...,-0.999224,0.059922,-0.986105,-0.999745,-0.999980,-0.999961,-0.999980,0.461952,0.770031,1.427520
std,0.498642,15.940838,31.085172,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,...,0.039768,1.099977,0.166653,0.022603,0.006269,0.008866,0.006269,0.498553,0.420815,0.684068
min,-1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,0.000000,0.000000
25%,0.000000,50.000000,250.000000,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,1.000000
50%,0.000000,60.000000,250.000000,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,...,-1.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,2.000000
75%,1.000000,70.000000,250.000000,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,...,-1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1.000000,1.000000,2.000000
max,1.000000,90.000000,250.000000,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,...,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000

In [10]:
df = pd.get_dummies(df)

,encounter_id,patient_nbr,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,race_AfricanAmerican,race_Asian,race_Caucasian,race_Hispanic,race_Other
1,149190,55629189,0,10,250,1,1,7,3,59,...,-1,-1,1,1,1,False,False,True,False,False
2,64410,86047875,0,20,250,1,1,7,2,11,...,-1,-1,0,1,2,True,False,False,False,False
3,500364,82442376,1,30,250,1,1,7,2,44,...,-1,-1,1,1,2,False,False,True,False,False
4,16680,42519267,1,40,250,1,1,7,1,51,...,-1,-1,1,1,2,False,False,True,False,False
5,35754,82637451,1,50,250,2,1,2,3,31,...,-1,-1,0,1,1,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,1,70,250,1,3,7,3,51,...,-1,-1,1,1,1,True,False,False,False,False
101762,443847782,74694222,0,80,250,1,4,5,5,33,...,-1,-1,0,1,2,True,False,False,False,False
101763,443854148,41088789,1,70,250,1,1,7,1,53,...,-1,-1,1,1,2,False,False,True,False,False
101764,443857166,31693671,0,80,250,2,3,7,10,45,...,-1,-1,1,1,2,False,False,True,False,False
101765,443867222,175429310,1,70,250,1,1,7,6,13,...,-1,-1,0,0,2,False,False,True,False,False

In [30]:
df.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [34]:
df.diag_2.unique()

array(['?', '250.01', '250', '250.43', '157', '411', '492', '427', '198',
       '403', '288', '998', '507', '174', '425', '456', '401', '715',
       '496', '428', '585', '250.02', '410', '999', '996', '135', '244',
       '41', '571', '276', '997', '599', '424', '491', '553', '707',
       '286', '440', '493', '242', '70', 'V45', '250.03', '357', '511',
       '196', '396', '197', '414', '250.52', '577', '535', '413', '285',
       '53', '780', '518', '150', '566', '250.6', '867', '486', 'V15',
       '8', '788', '340', '574', '581', '228', '530', '250.82', '786',
       '294', '567', '785', '512', '305', '729', '250.51', '280', '648',
       '560', '618', '444', '38', 'V10', '578', '277', '781', '250.42',
       '278', '426', '584', '462', '402', '153', '272', '733', '34',
       '881', '203', '250.41', '250.13', '293', '245', '250.12', '558',
       '787', '342', '573', '626', '303', '250.53', '458', '710', '415',
       'V42', '284', '569', '759', '682', '112', '292', '435', '290',
       '250.93', '642', '536', '398', '319', '711', 'E878', '446', '255',
       'V44', '250.7', '784', '300', '562', '162', '287', '447', '789',
       '790', '591', '200', '154', '304', '117', '847', '852', '250.83',
       '250.11', '816', '575', '416', '412', '441', '515', '372', '482',
       '382', 'V65', '572', '283', '78', '250.81', '576', '432', '595',
       '295', 'V12', '204', '466', '721', '434', '590', '271', '813',
       '368', '227', '783', '250.5', '258', '253', '309', '250.91', '519',
       '333', '459', '250.92', '250.4', '179', '420', '345', '433', '661',
       '537', '205', '722', '405', '437', '714', '211', 'E812', '263',
       '202', '397', '250.23', 'E932', '201', '301', '723', '614', '568',
       '861', 'V57', '724', '189', '297', '453', 'E888', '730', '354',
       '451', '738', 'E939', '805', 'V43', '155', '910', '218', '358',
       '220', 'E937', '583', '958', '794', '564', '436', '250.22', '620',
       '621', '331', '617', '596', '314', '378', '250.8', '625', '478',
       '731', '172', '404', '681', '470', '279', '281', '531', '443',
       '799', '337', '311', '719', 'E944', '423', 'E870', '465', 'E849',
       '782', '481', '480', 'V23', '199', '79', '438', '348', '42',
       'E950', '473', '627', '726', '54', '490', '317', '332', '508',
       '369', '600', '349', '485', '208', '922', '431', '296', 'E934',
       '753', 'E935', '386', '728', '607', 'E915', '344', '716', '289',
       '191', '873', '850', '611', '377', '352', '616', 'V17', '136',
       '455', '933', 'E885', '860', '513', '603', '484', '223', 'V72',
       '291', '151', 'V58', '550', '510', '891', '185', '592', '791',
       '138', '598', '336', '362', '217', '825', '298', '821', 'E880',
       '343', '429', 'E879', '579', '225', '250.9', 'V49', '696', '233',
       '658', '969', '275', '250.1', '601', '704', '808', 'E890', 'V18',
       '920', '380', '570', 'E817', '359', '812', '274', 'V14', '324',
       '758', 'V66', '911', 'E931', 'E924', '593', '792', '727', 'V46',
       '394', '532', 'V64', '557', '864', '718', 'E942', '807', '604',
       '924', '820', '580', '273', '241', '282', '824', 'V61', '646',
       '701', '736', '565', '383', '250.2', 'E947', '452', '872', '905',
       'E930', '921', '131', '448', '389', '421', '214', '705', '494',
       '752', '623', '9', '299', '959', '365', '967', 'E858', '40', '691',
       '909', '5', '814', '746', '250.31', '556', '680', '745', '351',
       '306', '110', '695', '552', '346', '918', '882', '947', '520',
       '188', '31', '356', '737', 'V08', '322', '182', '517', '974',
       'E929', 'V53', '912', '252', '608', '516', 'E933', '94', '702',
       '923', '594', '647', '111', '934', '430', '487', '709', '796',
       '156', '977', '915', '756', '840', '341', '259', '693', '725',
       'V62', '528', '683', '953', '457', '501', 'E900', 'V09', '522',
       '919', '461', '506', '193', '483', 'E936', '717', '802', '335',
       'V54', '320', '945', '906', '239', '454', '826', '823', 'E941',
       '226', '795', '684', '844', '250.33', '308', '615', '588', '712',
       '663', '706', '833', '741', '713', '533', 'E884', '586', '555',
       '755', 'E928', '742', '869', '962', 'V11', '543', '373', '870',
       '913', '152', '810', '965', '907', '908', '995', '845', '474',
       '442', '751', '323', '472', '464', '686', '250.32', '540', '251',
       '811', '652', '659', '851', '422', '815', '307', '325', '463',
       '992', '692', '521', '917', 'E965', '524', '916', 'E813', '173',
       '238', '137', '514', '312', '837', '355', '980', '622', '475',
       '500', '754', '261', '801', '868', '968', '381', '11', '250.21',
       '694', '610', '734', 'E814', '310', '130', '246', '892', '846',
       '634', '75', 'E927', 'E905', '183', '379', 'E917', '163', 'E868',
       '495', '747', '989', 'E854', '240', '832', '605', '602', '644',
       'V16', '35', 'V70', '376', '266', 'E918', '619', '477', '656',
       '46', '883', '171', 'V13', '698', '842', 'E850', '800', '269',
       '664', 'E887', '952', '164', 'E881', '527', '685', '366', '836',
       '27', 'V63', '865', '793', '232', '990', '52', '831', '327', '542',
       '806', '972', '862', 'E829', 'E919', '944', 'E916', '963', '316',
       '645', '347', 'V85', '374', 'V02', '748', '256', '186', '866',
       '975', '96', '395', '262', 'E819', '654', '994', '318', 'E826',
       '879', '674', '641', '822', '145', '797', '353', 'E938', 'E816',
       '948', '987', '99', '192', '250.3', 'E906', '534', '115', 'E818',
       'E980', '360', '338', '529', '871', '750', '212', '302', '955',
       '141', '88', 'V25', '215', '350', 'V50', 'V03', 'E853', 'E968',
       'E882', '140', '703', '991', '893', 'E821', '235', 'V69', '670',
       '195', 'V55', '388', '268', '894', '114', '260', '853', '7', '880',
       'V86', '180', 'E945', '523', '863', '649', '270', '665', '460',
       '942', '364', '66', 'E883', '123', '884', 'V60', '843', '927'],
      dtype=object)

In [31]:
df[df.columns[df.dtypes==object]]

,race,gender,payer_code,medical_specialty,diag_1,diag_2,diag_3,max_glu_serum,A1Cresult,metformin,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed
0,Caucasian,Female,?,Pediatrics-Endocrinology,250.83,?,?,NaN,NaN,No,...,No,No,No,No,No,No,No,No,No,No
1,Caucasian,Female,?,?,276,250.01,255,NaN,NaN,No,...,No,No,Up,No,No,No,No,No,Ch,Yes
2,AfricanAmerican,Female,?,?,648,250,V27,NaN,NaN,No,...,No,No,No,No,No,No,No,No,No,Yes
3,Caucasian,Male,?,?,8,250.43,403,NaN,NaN,No,...,No,No,Up,No,No,No,No,No,Ch,Yes
4,Caucasian,Male,?,?,197,157,250,NaN,NaN,No,...,No,No,Steady,No,No,No,No,No,Ch,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,AfricanAmerican,Male,MC,?,250.13,291,458,NaN,>8,Steady,...,No,No,Down,No,No,No,No,No,Ch,Yes
101762,AfricanAmerican,Female,MC,?,560,276,787,NaN,NaN,No,...,No,No,Steady,No,No,No,No,No,No,Yes
101763,Caucasian,Male,MC,?,38,590,296,NaN,NaN,Steady,...,No,No,Down,No,No,No,No,No,Ch,Yes
101764,Caucasian,Female,MC,Surgery-General,996,285,998,NaN,NaN,No,...,No,No,Up,No,No,No,No,No,Ch,Yes
101765,Caucasian,Male,?,?,530,530,787,NaN,NaN,No,...,No,No,No,No,No,No,No,No,No,No